<head>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/css/bootstrap.min.css"
        rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    @RenderBody()
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
</body>