@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@inject IHttpContextAccessor Http

@if (Http.HttpContext.User.Identity.IsAuthenticated)
{
    <form method="post" action="/Account/Logout">
        <button type="submit" class="btn btn-link">Выход</button>
    </form>
}
else
{
    <a class="btn btn-outline-primary me-2" href="/Account/Login">Вход</a>
    <a class="btn btn-primary" href="/Account/Register">Регистрация</a>
}